/* Base styles */
body {
  font-family: "Times New Roman", serif;
  font-size: 20px;
  background-color: #fff;
  color: #000;
  margin: 0;
  padding: 40px;
  line-height: 1.5;
}




/* Container */
main {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}




/* Titles */
.title {
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.subtitle {
  text-align: center;
  font-size: 18px;
  font-weight: normal;
  letter-spacing: 3px;
  color: #006EB6;
  margin-bottom: 20px;
}




/* Paragraphs */
p {
  margin-bottom: 18px;
  text-align: left;
}




/* Emphasis */
em {
  font-style: italic;
}




/* List */
ol {
  margin-left: 22px;
  margin-bottom: 40px;
}

ol li {
  margin-bottom: 15px;
}




/* Footer logo */
footer {
  text-align: center;
  margin-top: 40px;
}

footer img {
  width: 150px;
  height: auto;
}




/* Theme switch dropdown */
.theme-switch {
  text-align: right;
  margin-bottom: 20px;
}

/* Dark mode */
.dark {
  background-color: #333;
  color: #fff;
}

.dark .subtitle {
  color: #006EB6;
}
