body {
  font-family: "Times New Roman", serif;
  background-color: #fff;
  color: #000;
  margin: 0;
  padding: 40px;
}

.mission-container {
  max-width: 600px;           
  margin: 0 auto;
  padding: 100px;               
  border: 1px solid #999;       
  background-color: #fff;
}

.title {
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

.subtitle {
  text-align: center;
  font-size: 10px;
  font-weight: normal;
  letter-spacing: 3px;
  color: #004990; 
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.intro {
  font-size: 16px;
  line-height: 1.7;
  margin-bottom: 18px;
}

.emphasis {
  font-size: 16px;
  margin-bottom: 18px;
}

.mission-list {
  font-size: 16px;
  line-height: 1.7;
  margin-left: 22px;
  margin-bottom: 40px;
}

.logo {
  text-align: center;
  margin-top: 50px;
}

.logo img {
  max-width: 220px;  
  height: auto;
}

.mission-list li {
    margin-bottom: 15px;
}

.dark {
  background-color: #333;
  color: white;
}

.dark .mission-container {
  background-color: #333;
  border-color: #665;
  color: white;
}

.dark .subtitle {
  color: #006EB6;
  border-bottom-color: #665;
}